web hosting: 279.00
tradingview 969.00
capital 500
=========================
1748.00
  
scenario
margin       win      lose    total
100           150                550
100           150                600
100           150                650
100           150                700
100           150                750


margin       win      lose    total
100           150                550
100           150                600
100           150                650
100                      -50      600
100                      -50      550



